node_modules
dist
build
.expo
coverage
*.config.js
*.config.cjs
*.config.mjs
*.min.js
*.min.cjs
*.min.mjs
*.test.js
*.test.cjs
*.test.mjs
*.spec.js
*.spec.cjs
*.spec.mjs
*.d.ts
*.log
.env
.env.local
.vscode
.idea
*.swp
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*