# Ignorer les fichiers de configuration de l'IDE
.vscode/
.idea/

# Ignorer les fichiers de dépendances
node_modules/
yarn.lock
package-lock.json

# Ignorer les fichiers de build
dist/
build/

# Ignorer les fichiers temporaires
*.log
*.tmp

# Ignorer les fichiers de cache
.cache/
